@font-face {
    font-family: myfont-regular;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: myfont-bold;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}
*{
    font-family: myfont-regular;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #1F2937;
}
header{
    color:#FFFFFF;
    display:flex;
    justify-content:space-between;
    margin-left:auto;
    padding-left:200px;
    padding-right:175px;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:100px;
}
.header-logo{
    font-size:24px;
    color:#F9FAF8;
}
.header-item{
    display:flex;
    justify-content:space-around;
}
.header-item a{
    padding-right:25px;
    text-decoration:none;
    color:#E5E7EB;
    font-size:18px;
}



.about{
    display:flex;
    color:#FFFFFF;
    height:250px;
    padding-left:200px;
    padding-right:200px;
    margin-bottom: 100px;
}
.about-item{
    justify-content: space-between;
}
#about-desc{
    width:450px;
}
#about-desc h1{
    font-size:48px;
    font-family:myfont-bold;
    color:#F9FAF8;
    margin-bottom: 10px;
}
#about-desc p{
    font-size:18px;
    color:#E5E7EB;
}
#about-image{
    margin-left:45px;
    width: 500px;
    border-radius:10px;
}
.signup-button1{
    border:3px solid #3882F6;
    margin-top:10px;
    background-color:#3882F6;
    color:#FFFFFF;
    font-size:medium;
    font-weight:550;
    width:120px;
    height:35px;
    border-radius:10px;
    text-align: center;
}
.signup-button1:hover{
    transform:scale(1.1) perspective(1px)
}



.randominfo{
    background-color:#FFFFFF;
}
.randominfo h1{
    font-family:myfont-bold;
    text-align: center;
    font-size: 36px;
    color:#1F2937;
}
.rinfo-container{
    display:flex;
}